<h1>Listing companies</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Contact</th>
    <th>Notes</th>
    <th>File</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.code %></td>
    <td><%= company.name %></td>
    <td><%= company.contact_id %></td>
    <td><%= company.notes %></td>
    <td><%= company.file %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
