<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @company.code %>
</p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Contact:</b>
  <%= @company.contact_id %>
</p>

<p>
  <b>Notes:</b>
  <%= @company.notes %>
</p>

<p>
  <b>File:</b>
  <%= @company.file %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
